//*****reset styling*****
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//*****Add font*****
@font-face {
    font-family: speedFont;
    src: url(../Assets/SFSpeedwaystarBold.ttf);
  }

  body {
      font-family: speedFont, sans-serif;
  }

//*****HEADER SECTION*****  
.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        color: #457b9d;
        font-size: 40px;
    }
}

//*****GAME SECTION*****
.game {
    height: 80vh;
    background-color: rgb(206, 206, 206);
    .track {
        background-color: red;
        width: 100%;
        height: 3vh;
    }
    .cars {
        display: flex;
        height: 74vh;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
        img {
            width: 10%;
        }
    }
}